@import 'placeholder';
@import 'variables';

/* -----------------------------------------
 GLOBAL
----------------------------------------- */
html {
    height: 100%;
}
body, html {
    min-height: 100%;
}
body {
	font: 400 16px/1.3 'Lato', Arial, sans-serif;
	color: $grey-color;
}

img {
	max-width: 100%;
	height: auto;
}

.img-block {
	display: block;
}

.btn {
	display: inline-block;
	height: 60px;
	line-height: 54px;
	font-size: 24px;
	border: 3px solid currentColor;
	outline: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	background: transparent;
	
	&:focus {
		box-shadow: 0 0 10px currentColor;
	}
	
}

.line-separator {

	&:after {
		content: '';
		display: block;
		margin: 65px auto 0;
		width: 86px;
		border: 1px solid currentColor;
	}

	&--margin:after {
		margin-top: 40px;
	}

}

.container {
	max-width: 1200px;
	width: 100%;
}

.section-title {
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
}

/* -----------------------------------------
 HEADER
----------------------------------------- */
header {
	padding: 51px 0 46px;
	background: #024869 url('../img/header-bg.jpg') 50% no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	color: $white-color;
}

.menu {
	margin: 0;
	padding: 3px 0;
	font-size: 0;
	text-align: right;
	
	&__item {
		display: inline-block;
		margin-right: 6.5%;
		font-size: 14px;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		
		&:last-child {
			margin-right: 8.8%;
		}
	}

	&__link {
		position: relative;
		display: block;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -8px;
			right: 0;
			left: 0;
			height: 3px;
			opacity: 0;
			background-color:  $white-color;
			transform: translateY(-8px);
			transition: all 0.2s ease-in-out;
		}

		&:hover:before{
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.banner {
	margin: 235px auto 256px;
	max-width: 620px;
	font-size: 22px;
	line-height: 1.36;
	text-align: center;
	color: #FFFEFE;
	
	&__title {
		margin-bottom: 36px;
		font-size: 48px;
		line-height: 1.25;
	}
}

.scroll {
	display: block;
	margin: auto;
	width: 92px;
	height: 92px;
	opacity: 0.5;
	background-image: url('../img/scroll.svg');
	background-position: 50%;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
	
	&:hover {
		opacity: 1;
	}

	&:active {
		transform: translateY(3px);
	}
}

/* -----------------------------------------
 SERVICES
----------------------------------------- */
.services {
	padding: 107px 0 141px;
	text-align: center;
	background-color: $white-color;
}

.services-box {
	margin-top: 80px;
	
	&__icon {
		height: 150px;
		margin-bottom: 29px;
		background-position: 50%;
		background-repeat: no-repeat;
		
		&--app {
			background-image: url('../img/services-app.svg');
		}

		&--responsive {
			background-image: url('../img/services-responsive.svg');
		}

		&--pixel {
			background-image: url('../img/services-pixel.svg');

		}
	}
	
	&__title {
		margin-bottom: 26px;
		font-size: 24px;
		text-transform: capitalize;
	}

	&__subtitle {
		line-height: 1.875;
	}
}

/* -----------------------------------------
 ABOUT
----------------------------------------- */
.about {
	position: relative;
	padding: 75px 0 142px;
	font-size: 22px;
	font-weight: 100;
	background: $grey-color url('../img/about-bg.jpg') 50% no-repeat;
    background-size: cover;
	color: $white-color;
	
	&__title {
		margin-top: 85px;
		font-size: 45px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
	}

	&__link {
		display: inline-block;
		font-size: 18px;
		font-weight: 400;
		margin-top: 60px;
		text-transform: lowercase;
		text-decoration: underline;
		transition: all 0.2s ease-in-out;
		
		&:hover {
			opacity: 0.6;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 8%;
		width: 25%;
	}
}

/* -----------------------------------------
 WORK
----------------------------------------- */
.work {
	padding: 107px 0 80px;
	text-align: center;
	background-color: $white-color;

	&__box {
		position: relative;
		margin-top: 90px;
		
		&:hover .overlay {
			opacity: 1;
		}
	}

	&__btn {
		margin-top: 79px;
		padding: 0 145px;
		letter-spacing: 0.04em;
		
		&:hover {
			background-color: $grey-color;
			color: $white-color;
			border-color: $grey-color;
		}

		&:active {
			transform: translateY(3px);
		}
	}
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-top: 174px;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.45);
	color: $white-color;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	
	&__icon {
		display: block;
		margin: 36px auto 0;
		width: 41px;
		height: 41px;
		background: url('../img/overlay-link.svg') 50% no-repeat;
		background-size: cover;
	}
}

/* -----------------------------------------
 FOOTER
----------------------------------------- */
.contact {
	padding: 108px 0 123px;
	text-align: center;
	background: #151d21 url('../img/footer-bg.jpg') 50% no-repeat;
    background-size: cover;
	color: $white-color;
}

.social {
	margin-top: 67px;
	
	&__list {
		padding: 0;
		font-size: 0;
		list-style: none;
	}
	
	&__item {
		display: inline-block;
		font-size: 16px;
		
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link	{
		display: block;
		width: 27px;
		height: 27px;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		
		&:hover {
			opacity: 0.6;
		}
		
		&--twitter {
			background-image: url('../img/twitter.svg');
		}

		&--facebook {
			background-image: url('../img/facebook.svg');
		}

		&--linkedin {
			background-image: url('../img/linkedin.svg');
		}

		&--vimeo {
			background-image: url('../img/vimeo.svg');
		}

		&--behance {
			background-image: url('../img/behance.svg');
		}
	}
}

.contact-form {
	margin: 78px auto 0;
	padding: 0 50px;
	font-size: 0;
	
	&__item {
		display: inline-block;
		width: 45%;
		font-size: 18px;
		
		&:first-child {
			margin-right: 10%;
		}

		&--big {
			margin-top: 102px;
			width: 100%;
		}
	}

	&__field {
		width: 100%;
		padding: 0 29px 13px;
		font-style: italic;
		border: 0;
		border-bottom: 2px solid #afafaf;
		background: transparent;
		color: $white-color;
		
		&--big {
			max-width: 100%;
			height: auto;
			resize: none;
			-ms-overflow-y: hidden;
			    overflow-y: hidden;
		}
	}

	&__btn {
		margin-top: 45px;
		padding: 0 55px;
		letter-spacing: 0.04em;
		color: $white-color;
		
		&:hover {
			background-color: $white-color;
			color: $grey-color;
			border-color: $white-color;
		}

		&:active {
			transform: translateY(3px);
		}
	}
}